#maker-bio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  column-gap: 1rem;
  & label {
    color: #efefef;
  }
}

label[for='maker-bio-location'],
label[for='maker-bio-occupation'],
label[for='maker-bio-bio'] {
  grid-column: span 2;
}
