@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif;
}
